div.card {
    background-color: hsla(300, 8%, 3%, 0.397);  /* Green background with 30% opacity */
  }
div.card:hover{
    background-color: white;
}
div.card:hover svg{
    background-color: white;/* Green background with 30% opacity */
    fill: #2e2731;
}
svg {
    fill: white; 
    width: 50px;
 }
.menu{
    width: 50px;
    filter: invert(100%);
}

li.active {
    background-color: #702E28;
}

.nav-item:hover{
    background-color: #702E28;
}