<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Direccion</h5>
  
          <img src="assets/img/phone.svg" alt="" width="32" height="32">

        </div>
        <!--Grid column-->
  
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contacto</h5>
          <div>
            

            <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">+54 12312312</a>
            </li>
            <li>
              <a href="#!" class="text-dark">+54 12312312</a>
            </li>
          </ul></div>
          
        </div>
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->