<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 ">
        <h5 class="text-uppercase">Direccion</h5>
        <div>
          <img src="assets/img/geo-alt-fill.svg" alt="" width="32" height="32"> Calle 41 A Sur #1d 45 Este. <br> Bogota
          , Colombia.
        </div>
      </div>
      <!--Grid column-->
      <div class="col-lg-6 col-xs-12">
        <div>
          <h5 class="text-uppercase">Contacto</h5>
        </div>
        <div>
          <img src="assets/img/telephone-fill.svg" alt="" width="32" height="32">+54 12312312
        </div>
        <div>
          <img src="assets/img/envelope-fill.svg" alt="" width="32" height="32"> correoElectronico@algo.com
        </div>
      </div>
    </div>
  </div>
  <!--Grid row-->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="text-center ">
      <a class="p-2" href="http://facebook.com"><img src="assets/img/facebook.svg" alt="" width="32" height="32"></a>
      <a class="p-2" href="http://twitter.com"><img src="assets/img/twitter.svg" alt="" width="32" height="32"></a>
      <a class="p-2" href="http://instagram.com"><img src="assets/img/instagram.svg" alt="" width="32" height="32"></a>

  </div>
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>

  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->