.price-bar {
    align-items:start;
    background: white;
    bottom: 0;
    box-shadow: 0px 10px 8px 10px #21283A;
    display: inline-block; 
    height: 4em;
    position: fixed;
    width: 100vw; 
 }


.price-bar__button > h2{
  font-size: 20px;
  font-family: Georgia,sans-serif;
}

.price-bar__h2 {
   margin: 0px 50px;
   font-size:20px;
   line-height:2.5em;
 }

.price-bar__button{
   position: absolute;
   border-radius: 10px;
   align-items: center;
   margin: 10px 50px;
   height: 2.5em;
   width: 8em;
   right: 0;   
   top:0;
   background: green;
 }
